:root {
  --branding-color: #c5aa8e7e;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

/* Global styles */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Specific styles for elements */
#hero {
  background-color: #e8cfb1;
  color: #333;
}

#about {
  background-color: #fff;
}

#portfolio {
  background-color: #f9f9f9;
}

#contact {
  background-color: #fff;
}

/* Card styling */
.card {
  border-radius: 15px;
}

/* Navbar brand */
.navbar-brand {
  font-family: "Roboto", sans-serif;
}

/* Footer styling */
footer {
  background-color: #f0f0f0;
  color: #666;
}

.btn-primary {
  color: #333;
  background-color: #e8cfb1;
  border-color: #b8a58d;
}

.img-fluid {
  max-width: 50%;
  margin-left: 150px;
  margin-top: 50px;
  filter: grayscale(100%) brightness(0.7) saturate(80%);
}

.img-fluid:hover {
  transform: scale(1.2);
}

footer {
  margin: 5px 0;
}

footer .social-links a {
  font-size: 30px;
  padding: 10px;
}

.social-links a:hover {
  transform: scale(1.2);
}
